<main class="flex flex-col bg-cover bg-[url('src/assets/img/scattered-forcefields.svg')] dark:bg-[url('src/assets/img/scattered-forcefields-dark.svg')] text-black dark:text-white object-fill h-screen bg-blue-50 overflow-auto relative pb-5">
    <div class="container mx-auto px-5">
        <div class="mt-32 xl:mt-auto content-center">
            <h1 class="text-4xl sm:text-5xl xl:text-7xl font-semibold mt-20 text-center">Mobile GuidO guide</h1>
        </div>
    </div>

    <div class="bg-white dark:bg-black rounded-lg m-5 md:mx-10">
        <h2 class="text-center text-2xl font-extrabold tracking-tight my-6 text-black dark:text-white">
            Start Menu
        </h2>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-3/4">
                <p class="mb-2">On the start menu, you have the following options:</p>
                <ol class="list-decimal ml-5 mr-2">
                    <li>
                        <div>
                            <p class="font-semibold">Map overview</p>
                            <p class="ml-2 text-sm italic">
                                Here you have a list of all available maps you can open. To open a map just click on the
                                name.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="font-semibold">Download or delete a map</p>
                            <p class="ml-2 text-sm italic">
                                Click on the download symbol to download a map to your device. This way you can use it
                                while being offline.
                                To delete a map from your device, click on the garbage bin symbol.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="font-semibold">Map search</p>
                            <p class="ml-2 text-sm italic ">You can search for a specific map by typing its name in the
                                search box.</p>
                        </div>
                    </li>
                </ol>
            </div>

            <div class="single-pictures-container w-full md:w-1/4 flex justify-center">
                <img alt="Start Menu" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_start_menu.jpg"/>
            </div>
        </div>
    </div>

    <div class="bg-white dark:bg-black rounded-lg m-5 md:mx-10">
        <h2 class="text-center text-2xl font-extrabold tracking-tight my-6 text-black dark:text-white">
            Map Viewer
        </h2>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-3/4">
                <div class="mr-2">
                    <p class="mb-2">When you have selected a map, you will be taken to this screen.
                        Here you have a 3D view of the building.
                    </p>
                    <h3 class="font-bold">General</h3>
                    <ol class="list-decimal ml-5">
                        <li>
                            <div>
                                <p class="font-semibold">Current floor</p>
                                <p class="ml-2 text-sm italic">
                                    This is the floor you are currently looking at.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Information</p>
                                <p class="ml-2 text-sm italic">
                                    Press on the “i” symbol to show the description of a selected room.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Hamburger</p>
                                <p class="ml-2 text-sm italic">Press the hamburger menu to show or hide the extra
                                    options.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Arrow up</p>
                                <p class="ml-2 text-sm italic">Go to the floor above the current floor.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Arrow down</p>
                                <p class="ml-2 text-sm italic">Go to the floor beneath the current floor.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Perspective slider</p>
                                <p class="ml-2 text-sm italic">With this slider you can change the camera perspective to
                                    look from above or have a close-up 3D view.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Center camera</p>
                                <p class="ml-2 text-sm italic">Set the camera to the center of the current floor.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Points of interest</p>
                                <p class="ml-2 text-sm italic">Select which points of interest are visible.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Settings</p>
                                <p class="ml-2 text-sm italic">Adjust your settings.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Home</p>
                                <p class="ml-2 text-sm italic">Go back to the Start Menu.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Search path</p>
                                <p class="ml-2 text-sm italic">Press the magnifying glass symbol to search for a
                                    path.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="single-pictures-container w-full md:w-1/4 flex justify-center">
                <img alt="Map Viewer UI" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_map_viewer_ui.jpg"/>
            </div>
        </div>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-3/4">
                <div class="mr-2">

                    <h3 class="font-bold">Points of interest</h3>
                    <p class="mb-2">Points of interest are locations you might find interesting or useful.</p>
                    <p class="mb-2">In the Points Of Interest Menu you can toggle the visibility of individual or all
                        points of interest. When the check mark symbol is visible, the point of interest is visible.</p>
                    <p class="mb-2">Changes made are applied automatically.</p>
                </div>
            </div>
            <div class="single-pictures-container w-full md:w-1/4 flex justify-center">
                <img alt="Points of interest UI" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_poi_ui.jpg"/>
            </div>
        </div>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-3/4">
                <div class="mr-2">

                    <h3 class="font-bold">Settings</h3>
                    <p class="mb-2">Top View Camera</p>
                    <ol class="list-decimal ml-5">
                        <li>
                            <div>
                                <p class="font-semibold">Swipe sensitivity</p>
                                <p class="ml-2 text-sm italic">
                                    This changes the responsiveness of swiping on the screen.
                                    Slide to the left to lower the sensitivity and slide to the right to increase the
                                    sensitivity.
                                </p>
                            </div>
                        </li>
                    </ol>
                    <p class="mb-2">First Person Camera</p>
                    <ol class="list-decimal ml-5">
                        <li>
                            <div>
                                <p class="font-semibold">Enable gyroscope</p>
                                <p class="ml-2 text-sm italic">
                                    Check this box to enable the use of the gyroscope. The gyroscope tracks where your
                                    phone is looking at in the real world and translates this to the virtual world.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Gyroscope sensitivity</p>
                                <p class="ml-2 text-sm italic">
                                    This changes the responsiveness of the gyroscope.
                                    Slide to the left to lower the sensitivity and slide to the right to increase the
                                    sensitivity.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Swipe sensitivity</p>
                                <p class="ml-2 text-sm italic">
                                    This changes the responsiveness of swiping on the screen.
                                    Slide to the left to lower the sensitivity and slide to the right to increase the
                                    sensitivity.
                                </p>
                            </div>
                        </li>
                    </ol>
                    <p class="mb-2">Don’t forget to press the save symbol to save your changes. This way the settings
                        will be remembered even after closing the app.</p>
                </div>
            </div>
            <div class="single-pictures-container w-full md:w-1/4 flex justify-center">
                <img alt="Settings UI" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_settings_ui.jpg"/>
            </div>
        </div>
        <div class="double-pictures-container px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div>
                <div class="mr-2">
                    <h3 class="font-bold">Pathfinding</h3>
                    <p class="mb-2">Select your starting point and destination and find the shortest path.</p>
                    <ol class="list-decimal ml-5">
                        <li>
                            <div>
                                <p class="font-semibold">From</p>
                                <p class="ml-2 text-sm italic">Enter your starting point by typing or choosing it from
                                    the dropdown menu.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">To</p>
                                <p class="ml-2 text-sm italic">Enter your destination by typing or choosing it from the
                                    dropdown menu.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">QR code scanner</p>
                                <p class="ml-2 text-sm italic">If the room you are in has a room QR code, you can scan
                                    it to select your current position as a starting point.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Navigate</p>
                                <p class="ml-2 text-sm italic">Press the “Navigate” button to search the shortest
                                    path.</p>
                            </div>
                        </li>
                        <p class="mb-2">After setting a path, you can choose to follow the route in first person
                            mode.</p>
                        <li>
                            <div>
                                <p class="font-semibold">Camera</p>
                                <p class="ml-2 text-sm italic">Enter first person mode by pressing the “Camera”
                                    icon.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="flex flex-wrap gap-x-4 justify-center">
                <img alt="Pathfinding UI" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_pathfinding_ui.jpg"/>
                <img alt="Third Person UI" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_third_person_ui.jpg"/>
            </div>
        </div>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-3/4">
                <div class="mr-2">
                    <h3 class="font-bold">First person mode</h3>
                    <p class="mb-2">Select your starting point and destination and find the shortest path.</p>
                    <p class="mb-2">In first person mode you can look around by swiping and the gyroscope.</p>
                    <p class="mb-2">You can move forward and backward on the path by swiping down and up
                        respectively.</p>
                    <ol class="list-decimal ml-5">
                        <li>
                            <div>
                                <p class="font-semibold">Map</p>
                                <p class="ml-2 text-sm italic">Go back to Top View.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Arrow</p>
                                <p class="ml-2 text-sm italic">Indicates forward direction and sets your view forward
                                    when clicked.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="w-full md:w-1/4 flex gap-x-4 justify-center">
                <img alt="First Person UI" class="my-2 shadow-lg rounded align-middle border-none block max-h-128"
                     src="assets/img/guide-mobile/guido_first_person_ui.jpg"/>
            </div>
        </div>
    </div>

    <button (click)="router.navigate(['/createMap'])"
            class="bg-white dark:bg-black ml-10 mt-3 w-fit flex shadow rounded-lg transition duration-200 ease-in-out transform hover:-translate-y-1 hover:shadow-lg px-4 py-3 font-semibold my-auto">
        <svg class="h-6 w-6 pr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2"/>
        </svg>
        Go back
    </button>
</main>
