<main class="flex flex-col bg-cover bg-[url('src/assets/img/scattered-forcefields.svg')] dark:bg-[url('src/assets/img/scattered-forcefields-dark.svg')] text-black dark:text-white object-fill h-screen bg-blue-50 overflow-auto relative pb-5">
    <div class="container mx-auto px-5">
        <div class="mt-32 xl:mt-auto content-center">
            <h1 class="text-4xl sm:text-5xl xl:text-7xl font-semibold mt-20 text-center">GuidO guide</h1>
        </div>
    </div>

    <div class="bg-white dark:bg-black rounded-lg m-10">
        <h2 class="text-center text-2xl font-extrabold tracking-tight my-6 text-black dark:text-white">Creating a map</h2>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full ">
            <div class="md:w-1/2">
                <p class="mb-2">To create a map, you have the following options: </p>
                <ol class="list-decimal ml-5 mr-2">
                    <li>
                        <div>
                            <p class="font-semibold">Create a new map</p>
                            <p class="ml-2 text-sm italic ">Create a new map given a name. If you pick a name that is already present on the server and proceed to upload it, the map on the server will be overridden.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="font-semibold">Get map from computer</p>
                            <p class="ml-2 text-sm italic">Choose a previously created map, stored on your PC, to edit.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="font-semibold">Get map from server</p>
                            <p class="ml-2 text-sm italic ">Download an existing map from our server and edit it.</p>
                        </div>
                    </li>
                </ol>
            </div>

            <div class="md:w-1/2 grid content-center">
                <img src="assets/img/guide/createMapPage.png" alt="Create Map Page"
                     class="my-2 shadow-lg rounded align-middle border-none"/>
            </div>
        </div>
    </div>

    <div class="bg-white dark:bg-black rounded-lg m-10">
        <h2 class="text-center text-2xl font-extrabold tracking-tight my-6 text-black dark:text-white">Editing a map</h2>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-1/2">
                <div class="mr-2">
                    <h3 class="font-bold">Creating</h3>
                    <ol class="list-decimal ml-5">
                        <li>
                            <div>
                                <p class="font-semibold">Triangles, squares, pentagons</p>
                                <p class="ml-2 text-sm italic">Create a triangle, square or pentagon with a given name, description and color.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Polygons</p>
                                <p class="ml-2 text-sm italic">Create a polygon shape given a name, a description, color and the amount of vertices desired. You can add a vertice to a polygon by using <span class="font-semibold">ctrl + double click</span> on the polygon, near the closest vertice where you want to add an extra vertice. In delete mode (see later), this shortcut will instead delete the nearest vertice of the clicked polygon</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Emergency exit/door</p>
                                <p class="ml-2 text-sm italic">Create an emergency exit or a door given their name, door height, door width and its color. You can rotate doors by right clicking them.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Node</p>
                                <p class="ml-2 text-sm italic">Create a node which can be placed to indicate a passable location. This is used in later indicating possible routes a visitor may take on your property.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Point of interest</p>
                                <p class="ml-2 text-sm italic">Create an indicator for a number of locations which may be interesting to highlight for a vistor. Vending machines, toilets and such are all examples of points of interest.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="font-semibold">Label</p>
                                <p class="ml-2 text-sm italic">Create a label to be placed on the map to divulge extra information about the layout, structure or property in general that may not be expressed through any of the previous options.</p>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="mt-5 mr-2">
                    <h3 class="font-bold">Updating</h3>
                    <p class="ml-2 text-sm italic">When clicking the pencil icon on the taskbar (dark blue bar), you enter "edit mode". In edit mode, some figures such as <span class="font-semibold">rooms</span>, <span class="font-semibold">doors</span>, <span class="font-semibold">nodes</span> and <span class="font-semibold">labels</span> can be edited to change their attributes. To edit a figure, click it in edit mode and a dialog box will show up with the previous values.</p>
                </div>
                <div class="mt-5 mr-2">
                    <h3 class="font-bold">Deleting</h3>
                    <p class="ml-2 text-sm italic">When clicking the eraser icon on the taskbar (dark blue bar), you enter "delete mode". In delete mode, any figure you click will be deleted from the map.</p>
                </div>
            </div>

            <div class="md:w-1/2 grid content-center">
                <img src="assets/img/guide/editMap.png" alt="Create Map Page"
                      class="my-2 shadow-lg rounded align-middle border-none"/>
            </div>
        </div>
    </div>

    <div class="bg-white dark:bg-black rounded-lg m-10">
        <h2 class="text-center text-2xl font-extrabold tracking-tight my-6 text-black dark:text-white">Connecting nodes</h2>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-1/2 pr-2">
                <div class="mt-5">
                    <h3 class="font-bold">Enabling connecting mode</h3>
                    <p class="ml-2 text-sm italic">To start connecting the previously placed doors and nodes, you can click on the <span class="font-semibold">Connect Nodes</span> button, located on the taskbar</p>
                </div>
            </div>

            <div class="md:w-1/2 grid content-center">
                <img src="assets/img/guide/ConnectNodesButton.png" alt="Create Map Page"
                     class="my-2 shadow-lg rounded align-middle border-none"/>
            </div>
        </div>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-1/2">
                <div class="mt-5 mr-2">
                    <h3 class="font-bold">Connecting nodes</h3>
                    <div>
                        <p>Keep these things in mind when connecting nodes: </p>
                        <ol class="list-decimal ml-5">
                            <li>
                                <p class="font-semibold">Double click on a node, door or point of interest</p>
                                <p class="ml-2 text-sm italic">By double clicking on a connectable node, a popup will show asking to indicate the neighbors it connects to. You should enter 1 neighbor's id (indicated by white labels) per input field and use the checkbox to indicate whether or not you can travel both from and to from this point to its neighbor.</p>
                            </li>
                            <li>
                                <p class="font-semibold">Pathfinding</p>
                                <p class="ml-2 text-sm italic">There are 2 ways nodes can be linked, unidirectional and bidirectional. Unidirectional links are indicated by an orange arrow and bidirectional links are indicated by green lines. In the mobile app, these links will be used to be able to calculate the fastest way from any room or door to any other room or door. This is why it is important to give clear names to doors and points of interest, as they will be used as end destination or starting location. </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="md:w-1/2 grid content-center">
                <img src="assets/img/guide/connectedNodes.png" alt="Create Map Page"
                     class="my-2 shadow-lg rounded align-middle border-none"/>
            </div>
        </div>
    </div>

    <div class="bg-white dark:bg-black rounded-lg m-10">
        <h2 class="text-center text-2xl font-extrabold tracking-tight my-6 text-black dark:text-white">Saving and sharing your work</h2>
        <div class="px-4 py-6 flex md:flex-row flex-wrap justify-between w-full">
            <div class="md:w-1/2 pr-2">
                <div class="mt-5">
                    <h3 class="font-bold">Saving your work</h3>
                    <p class="ml-2 text-sm italic">You can save your work using the <span class="font-semibold">Save file on pc</span> option, located on the taskbar. This will download the map to your PC in JSON format.</p>
                </div>
                <div class="mt-5">
                    <h3 class="font-bold">Sharing your work</h3>
                    <p class="ml-2 text-sm italic">You can share your work with the world by uploading it to the server using the <span class="font-semibold">Upload map</span> option, located on the taskbar. This will upload your map to our server and make it available for all users.</p>
                </div>
            </div>

            <div class="md:w-1/2 grid content-center">
                <img src="assets/img/guide/editMap.png" alt="Create Map Page"
                     class="my-2 shadow-lg rounded align-middle border-none"/>
            </div>
        </div>
    </div>



    <button (click)="router.navigate(['/createMap'])"
            class="bg-white dark:bg-[#000] ml-10 mt-3 w-fit flex shadow rounded-lg transition duration-200 ease-in-out transform hover:-translate-y-1 hover:shadow-lg px-4 py-3 font-semibold my-auto">
        <svg class="h-6 w-6 pr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2"/>
        </svg>
        Go back
    </button>
</main>
