<div class="w-full shadow rounded-lg p-2 bg-blue-100 dark:bg-[#37373b] mt-5 mb-2">
    <h3 class="text-black dark:text-white text-xl mx-2 md:mx-4 mb-2">{{floor.name}}</h3>
    <div *ngIf="!setNeighborMode" class="flex flex-wrap gap-y-2 gap-x-4 mx-4 md:mx-8 mb-2">
        <label class="text-black dark:text-white cursor-pointer">
            <input (change)="updateNewBackground($event)" accept="image/*" class="hidden" type="file"/>
            <span class="flex gap-2">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2"/>
                </svg>
                <span>Upload image</span>
            </span>
        </label>
        <button (click)="removeFloor()" class="text-red-500 flex gap-2">
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            Remove floor
        </button>
        <label [for]="'lockFloor' + floorNumber" [hidden]="floorPolygon === undefined">
            <input [defaultChecked]="true" [id]="'lockFloor' + floorNumber" class="ml-1.5 mr-2" type="checkbox">
            Lock the floor
        </label>
    </div>
    <div class="flex justify-center">
        <div class="text-white bg-white overflow-auto floor" id="demo{{floorNumber}}"></div>
    </div>

    <div *ngIf="!setNeighborMode" class="mt-5 text-white">
        <button (click)="displayDialogBox('createPolygonWithNVertices', {vertices: 3})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Triangle
        </button>
        <button (click)="displayDialogBox('createPolygonWithNVertices', {vertices: 4})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Square
        </button>
        <button (click)="displayDialogBox('createPolygonWithNVertices', {vertices: 5})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Pentagon
        </button>
        <button (click)="displayDialogBox('createPolygon', {vertices: null})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Polygon
        </button>
        <button (click)="displayDialogBox('createDoor', {emergency: false})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Door
        </button>
        <button (click)="displayDialogBox('createDoor', {emergency: true})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Emergency exit
        </button>
        <button (click)="displayDialogBox('createNode', {})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Node
        </button>
        <button (click)="displayDialogBox('createPointOfInterest', {})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Point of interest
        </button>
        <button (click)="displayDialogBox('createLabel', {})"
                class="bg-blue-400 rounded-md py-2 px-3 m-2 addFigureButton">
            Label
        </button>
    </div>
    <app-dialog-box [confirmAction]="createPolygon" [floor]="floorNumber"
                    [formElements]="[{name: 'Room name'}, {name: 'Room description'}, {name: 'RGB color', defaultValue: '100,100,100', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.createPolygonWithNVertices" action="createPolygonWithNVertices"
                    confirmButtonText="OK" dialogText="Enter the room's info:" title="Create polygon">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="createPolygon" [floor]="floorNumber"
                    [formElements]="[{name: 'Room name'}, {name: 'Room description'}, {inputType: 'number', min: 2, required: true, name: 'Number of vertices'}, {name: 'RGB color', defaultValue: '100,100,100', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.createPolygon" action="createPolygon" confirmButtonText="OK"
                    dialogText="Please fill in the following form:" title="Create polygon">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="updatePolygon" [floor]="floorNumber"
                    [formElements]="[{name: 'Room name'}, {name: 'Room description'}, {name: 'RGB color', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.updatePolygon" action="updatePolygon" confirmButtonText="OK"
                    dialogText="Update this room: " title="Update room">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="createDoor" [floor]="floorNumber"
                    [formElements]="[{name: 'Door name'}, {defaultValue: '25', inputType: 'number', min: 0, name: 'Door length', required: true, step: 0.01}, {defaultValue: '5', inputType: 'number', min: 0, name: 'Door width', required: true, step: 0.01}, {defaultValue: '139,69,19', name: 'RGB color', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.createDoor" action="createDoor" confirmButtonText="OK"
                    dialogText="Enter the door's info:" title="Create door">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="updateDoor" [floor]="floorNumber"
                    [formElements]="[{name: 'Door name'}, {inputType: 'number', min: 0, name: 'Door length', required: true, step: 0.01}, {inputType: 'number', min: 0, name: 'Door width', required: true, step: 0.01}, {name: 'RGB color', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.updateDoor" action="updateDoor" confirmButtonText="OK"
                    dialogText="Update this door: " title="Update door">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="createNode" [floor]="floorNumber" [formElements]="[{name: 'Node name'}]"
                    [params]="paramsToGiveToDialogBoxes.createNode" action="createNode" confirmButtonText="OK"
                    dialogText="Enter the node's name:" title="Create node">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="updateNode" [floor]="floorNumber" [formElements]="[{name: 'Node name'}]"
                    [params]="paramsToGiveToDialogBoxes.updateNode" action="updateNode" confirmButtonText="OK"
                    dialogText="Update the node:" title="Update node">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="createPointOfInterest" [floor]="floorNumber"
                    [formElements]="[{tagType: 'select', values: getPointsOfInterestTypes(), name: 'Type'}]"
                    [params]="paramsToGiveToDialogBoxes.createPointOfInterest" action="createPointOfInterest"
                    confirmButtonText="OK" dialogText="" title="Create Point of Interest">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="createLabel" [floor]="floorNumber"
                    [formElements]="[{name: 'Description', required: true}, {name: 'RGB color', defaultValue: '163,133,82', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.createLabel" action="createLabel" confirmButtonText="OK"
                    dialogText="Enter the label's description" title="Create label">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="updateLabel" [floor]="floorNumber"
                    [formElements]="[{name: 'Description', required: true}, {name: 'RGB color', pattern: '^(([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]),[ ]?){2}([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$', required: true, tagType: 'color-picker'}]"
                    [params]="paramsToGiveToDialogBoxes.updateLabel" action="updateLabel" confirmButtonText="OK"
                    dialogText="Update the label:" title="Update label">
    </app-dialog-box>
    <app-dialog-box [confirmAction]="setNeighbors" [floor]="floorNumber"
                    [formElements]="[{infinite: [{inputType: 'number', name: 'Enter neighbors', min: 1, required: true, tagType: 'search-select', values: []}, {checked: true, inputType: 'checkbox', name: 'Bidirectional path'}]}]"
                    [params]="paramsToGiveToDialogBoxes.setNeighbors" action="setNeighbors" confirmButtonText="OK"
                    dialogText="Enter the neighbor's id's:" title="Set neighbors">
    </app-dialog-box>
</div>
