<main>
    <div [hidden]="initializedMap" class="my-3 mx-2 md:mx-4">
        <h1 class="text-white text-3xl">Create Map</h1>
        <div class="max-w-md m-2">
            <label class="text-white block mb-1" for="mapName">Name:</label>
            <input class="rounded-md py-1 px-2 mb-2" id="mapName" placeholder="Name" type="text"
                   [(ngModel)]="jsonData.name">
            <button class="text-white bg-blue-400 focus:outline-none focus:ring-2 focus:ring-outset focus:ring-white shadow block rounded-md py-2 px-3 mt-2"
                    (click)="createMap()">
                Create map
            </button>
        </div>
    </div>
    <div [hidden]="!initializedMap">
        <div class="flex w-full">
            <div class="text-white bg-gray-800 border-2 border-r-0 border-black flex gap-y-2 gap-x-4 p-3">
                <button class="flex gap-2 px-2" (click)="saveMapLocally()">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 290 290"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M287.602,53.599l-51.2-51.2C234.862,0.863,232.777,0,230.602,0H8.199C3.668,0,0,3.668,0,8.199v273.602 C0,286.332,3.668,290,8.199,290h273.602c4.531,0,8.199-3.668,8.199-8.199V59.397C290,57.221,289.135,55.138,287.602,53.599z M38.456,34.678c0-3.262,2.651-5.916,5.917-5.916h160.975c3.27,0,5.918,2.654,5.918,5.916v78.323c0,3.269-2.647,5.915-5.918,5.915 H44.373c-3.266,0-5.917-2.646-5.917-5.915V34.678z M251.544,247.513c0,4.03-3.27,7.298-7.296,7.298H45.752 c-4.026,0-7.296-3.268-7.296-7.298V150.94c0-4.028,3.27-7.295,7.296-7.295h198.496c4.026,0,7.296,3.267,7.296,7.295V247.513z"/>
                        <rect height="69.604" width="24.588" x="173.564" y="39.039"/>
                        <rect height="8.195" width="171.021" x="59.489" y="174.643"/>
                        <rect height="8.195" width="171.021" x="59.489" y="215.62"/>
                    </svg>
                    Save file on PC
                </button>
                <label class="cursor-pointer">
                    <input id="uploadedMapFromComputer" type="file" class="hidden" accept="application/json"/>
                    <span class="flex gap-2">
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span>Get map from computer</span>
                    </span>
                </label>
                <button class="flex gap-2 px-2" (click)="displayEditMapDialog(true)">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                    Get map from server
                </button>
                <button class="flex gap-2 px-2" (click)="saveMapRemotely()">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                    <span id="submitMap">Upload map</span>
                </button>
            </div>
            <div class="text-white bg-gray-800 border-2 border-black flex gap-y-2 gap-x-4 p-3">
                <button class="px-2">
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 299.289 299.289"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M290.422,79.244L220.034,8.857c-11.794-11.795-30.986-11.795-42.78,0C175.866,10.245,12.971,173.14,8.867,177.244 c-11.822,11.821-11.824,30.957,0,42.78l70.388,70.388c11.821,11.822,30.957,11.824,42.78,0 c1.046-1.046,165.357-165.357,168.388-168.388C302.244,110.203,302.246,91.066,290.422,79.244z M110.367,278.744 c-5.374,5.373-14.071,5.373-19.446,0l-70.388-70.388c-5.373-5.374-5.375-14.071,0-19.446l34.61-34.61l89.834,89.834 L110.367,278.744z M278.755,110.357l-122.111,122.11l-89.833-89.833l122.11-122.111c5.374-5.374,14.071-5.374,19.446,0 l70.388,70.388C284.129,96.285,284.129,104.983,278.755,110.357z"/>
                    </svg>
                </button>
                <button class="text-red-500 flex gap-2 px-2" (click)="clearMap()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                    Clear whole map
                </button>
            </div>
        </div>
        <h1 class="text-white text-3xl mx-2 md:mx-4 mt-2">{{jsonData.name}}</h1>
        <div class="mx-4 md:mx-8">
            <h2 class="text-white text-2xl mt-2">Floors</h2>
            <div id="floors">
                <app-create-floor *ngFor="let floor of jsonData.floors" [floor]="floor.floor"
                                  [jsonData]="jsonData"></app-create-floor>
            </div>

            <div class="m-4">
                <h2 class="text-white text-xl">Add floor</h2>
                <div class="max-w-md m-2">
                    <label class="text-white block mb-1" for="floorNumber">Floor number:</label>
                    <input class="rounded-md py-1 px-2" id="floorNumber" placeholder="Floor number" step="1"
                           type="number" [(ngModel)]="createFloorForm.floor">
                    <label class="text-white block mb-1" for="floorName">Floor name:</label>
                    <input class="rounded-md py-1 px-2" id="floorName" placeholder="Floor name"
                           type="text" [(ngModel)]="createFloorForm.name">
                    <label class="text-white block mb-1" for="floorHeight">Floor height:</label>
                    <input class="rounded-md py-1 px-2" id="floorHeight" min="0" placeholder="Floor height"
                           type="number" [(ngModel)]="createFloorForm.height">
                    <button (click)="addFloor()"
                            class="text-white bg-blue-400 focus:outline-none focus:ring-2 focus:ring-outset focus:ring-white shadow block rounded-md py-2 px-3 mt-4">
                        Add floor
                    </button>
                </div>
            </div>

            <div id="editMapDialog"
                 class="z-0 bg-black bg-opacity-50 min-w-screen h-screen animated fadeIn faster fixed left-0 top-0 hidden justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
                <div class="bg-gray-900 text-black p-4 rounded-md">
                    <div class="text-white grid grid-flow-col auto-cols-auto w-full mb-2">
                        <h2 class="font-bold">Edit map</h2>
                        <button class="focus:outline-none focus:ring-2 focus:ring-inset focus:ring-black dark:focus:ring-white rounded-md h-8 w-8 ml-auto mr-0"
                                (click)="displayEditMapDialog(false)">
                            <svg aria-label="Close dialog" class="h-6 w-6 mx-auto" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="4"/>
                            </svg>
                        </button>
                    </div>
                    <div [hidden]="mapNames.length === 0">
                        <p class="mb-4 dark:text-white">Which of the following maps do you want to edit?</p>
                        <select id="editMapSelect" class="bg-white rounded-md py-1.5 px-2 mb-4">
                            <option *ngFor="let mapName of mapNames">{{mapName}}</option>
                        </select>
                    </div>
                    <p [hidden]="mapNames.length !== 0" class="text-white mb-4">
                        There are currently no maps available.
                    </p>
                    <div [class]="mapNames.length === 0 ? 'hidden' : 'grid grid-cols-2'">
                        <button class="text-white bg-red-500 focus:outline-none focus:ring-2 focus:ring-outset focus:ring-white shadow rounded-md p-2 mr-1"
                                (click)="displayEditMapDialog(false)">
                            Cancel
                        </button>
                        <button class="text-white bg-blue-400 focus:outline-none focus:ring-2 focus:ring-outset focus:ring-white shadow rounded-md p-2 ml-1"
                                (click)="editMap()">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
